@font-face {
    font-family: 'JetBrains Mono';
    src: url(../starter-code/assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}
body {
    background: #18171F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}
h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #817D92;
}
.genereted-password {
    width: 344px;
    height: 64px;
    background: #24232C;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px 0 16px;
}
#password {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #E6E5EA;
    width: 144px;
    overflow: hidden;
}
.copy-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#copyed {
  font-size: 18px;
  font-weight: 700;
  color: #A4FFAF;
  display: none;
}
.genereted-password img {
    object-fit: none;
}
.main-container {
    width: 344px;
    height: 430px;
    background: #24232C;
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charactar-length {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.character {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #E6E5EA;
}
.length {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #A4FFAF;
}
.slidecontainer {
    width: 312px;
    margin: 14px 0 32px 0;
    position: relative;
}
.line {
  width: 50%;
  height: 8px;
  background: #A4FFAF;
  position: absolute;
  top: 8px;
}
.slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: #18171F;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #E6E5EA;
    cursor: pointer;
  }
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    margin-bottom: 16px;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #f1f0f7;
    background-repeat: no-repeat;
    background-position: center;
  }
  .checkbox label {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #E6E5EA;
  }
  .strengh {
    width: 312px;
    height: 56px;
    background: #18171F;
    margin: 16px 0;
    padding: 0 14px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .strength-heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #817D92;
  }
  .level-strength {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .level {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #E6E5EA;
  }
  .strength-color {
    display: flex;
    gap: 8px;
  }
  .color-box {
    width: 10px;
    height: 28px;
    border: 2px solid #E6E5EA;
  }
  .for-tooweak {
    background: #F64A4A;
    border: none;
  }
  .for-weak {
    background: #FB7C58;
    border: none;
  }
  .for-medium {
    background: #F8CD65;
    border: none;
  }
  .for-strong {
    background: #A4FFAF;
    border: none;
  }
  button {
    width: 312px;
    height: 56px;
    background: #A4FFAF;
    font-size: 16px;
    font-weight: 700;
    color: #24232C;
    border: none;
  }